@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>For support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/got2play9">#Nicholas</a><br />

</address>